<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/svg/tC1LJobRFovQ9LlO7VTS 1.svg"
    />
  </head>
  <body>
    <main class="main">
      <!-- this is the login in page  -->
      <section class="login">
        <img src="assets/svg/tC1LJobRFovQ9LlO7VTS 1.svg" alt="NACOSS" />
        <h3>NACOSS RESULT</h3>
      </br>
    </br>
        <!-- <p>enter the following details to continue.</p> -->

        <!-- this is the form area  -->
        <!-- <div class="form-login">
          <form action="" method="post">
            <label for="matricNumber">Security key</label>
            <input type="text" id="matricNumber" placeholder="BU22CIT2022" /> -->
        <!-- {% csrf_token %} -->

        <!-- this is the button but i'm not going to link it to aother page i will only style it -->
        <!-- <a
              ><button class="btn-login" onclick="myFunction()">
                Continue
              </button></a
            > -->
        <!-- </form>
        </div> -->
<!--          <h1>RESULTS WILL BE OUT IN A BIT.</h1> -->
<!--         <h4>SODIQ WAIT...</h4> -->
<!--     hardware director -->
<iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/d100ce922393469d87d2c74291dbb1751669735988144719"></iframe>
<!--     financial secretary -->
<iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/09c7fc8e64604356bafe87850444ef2e1669735650091406"></iframe>
<!--     asst academic director -->
<iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/366e84ecfa7443d4ac92405283de8e181669735925493127"></iframe>
<!--     300 level commissioner -->
<iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/821fd9b62f0346759be79db05c9946031669736193935772"></iframe>
<!--     general secretary -->
<iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/1b6010a76d634424807e51eab9df919e166973513420969"></iframe>
<!-- vice president -->
<iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/98d838b65b1c408ba7570b65fdd87e781669735563433592"></iframe>
<!--     software director 2 -->
<iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/0c442de0587847ff9f5303c5a7dd49dc166973615221219"></iframe>
<!--     president  -->
<iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/193ff1ca83fa4ac69af3bbd833e5dfed1669735064583718"></iframe>
<!--     public relation officer -->
<iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/43e47c98a6854ac98276afaf3f0d131e166973570438966"></iframe>
<!--         welfare director 1 -->
<iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/1b65e0f5f99d414d915e9d2c952ffdd01669736324484903"></iframe>
<!-- welfare director 2 -->
<iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/84b9e3371c054b9aa09334e1af003a2b1669736280081274"></iframe>
<!--       social director male -->
<iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/b29fb5bbb9af4a9f976c8bde822f6a76166973576604441"></iframe>
<!-- social director female -->
<iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/dcddd66c3719487da48284b7f1b56d7b1669735838083326"></iframe>

    
        <!-- <a><button class="btn-login" onclick="myFunction()">Done</button></a> -->
      </section>
    </main>
    <!-- <div class="footer">Copyright © 2022 NACOSS Electoral Committee</div> -->
  </body>
  <script src="assets/js/main.js"></script>
</html>
