<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/svg/tC1LJobRFovQ9LlO7VTS 1.svg"
    />
  </head>
  <body>
    <main class="main">
      <!-- this is the login in page  -->
      <section class="login">
        <img src="assets/svg/tC1LJobRFovQ9LlO7VTS 1.svg" alt="NACOSS" />
        <h3>NACOSS RESULT</h3>
      </br>
    </br>
        <!-- <p>enter the following details to continue.</p> -->

        <!-- this is the form area  -->
        <!-- <div class="form-login">
          <form action="" method="post">
            <label for="matricNumber">Security key</label>
            <input type="text" id="matricNumber" placeholder="BU22CIT2022" /> -->
        <!-- {% csrf_token %} -->

        <!-- this is the button but i'm not going to link it to aother page i will only style it -->
        <!-- <a
              ><button class="btn-login" onclick="myFunction()">
                Continue
              </button></a
            > -->
        <!-- </form>
        </div> -->
<!--     hardware director -->
        <iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/22cab715b8bf409baa2e42cf32aa205b1669729774612524"></iframe>
<!--     financial secretary -->
        <iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/07a3d09b38c346ad8dce71379f4463ba1669726643580236"></iframe>
<!--     asst academic director -->
        <iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/0fd33f82870f4ee4865f57aeb7b3e5fd1669726730619215"></iframe>
<!--     300 level commissioner -->
        <iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/9538060a1a7d434aa538bf0cd6da58391669726908480792"></iframe>
<!--     general secretary -->
    <iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/8fba6a8b96aa404987903d5de59e68891669729320152594"></iframe>
<!-- vice president -->
        <iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/a30fa2df9a8748139bd858c52fdea61a1669727579921437"></iframe>
<!--     software director 2 -->
        <iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/28b637d42e2e4673972368fbb8bdc7e21669727708514337"></iframe>
<!--     president  -->
         <iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/97ed82761f6649bfbf27f18a970162391669727903970218"></iframe>
<!--     public relation officer -->
          <iframe width="600" height="400" style="border:1px solid #ccc" frameborder="0" scrolling="no" src="https://sheet.zoho.com/sheet/publicgraphs/6eaed0c8c03e45c59eb541c27d020af61669727985106633"></iframe>


        <!-- <a><button class="btn-login" onclick="myFunction()">Done</button></a> -->
      </section>
    </main>
    <!-- <div class="footer">Copyright © 2022 NACOSS Electoral Committee</div> -->
  </body>
  <script src="assets/js/main.js"></script>
</html>
